config = {
    # Vendor token and name are listed at the top of
    # https://<your domain>.exosite.com/admin/managemodels
    # (Vendor token is also available on the domain admin home page)
    'vendorname': '<VENDOR NAME HERE>',
    'vendortoken': '<VENDOR TOKEN HERE>',
    # CIK of portal of client to clone for model
    # Used if managing by sharecode
    'cloneportalcik': '<CLONE PORTAL CIK HERE>',
    # CIK of parent of clonecik client. In the case of Portals,
    # this is the CIK of the portal. It can be found in your portal under
    # Account > Portals
    # Look for Key: 123abc...
    'portalcik': '<PORTAL CIK HERE>'
}
